.transaction-history {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

th, td {
  border: 1px solid #E0E0E1;
  padding: 8px;
  text-align: center;

}

th {
  border-radius: 8px;
}

.transaction-history h3{
  margin-bottom: 15px;
}

.text-left{
  text-align: left;
}
